* {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      box-sizing: border-box;
    }
    table {
      background: rgba(0, 0, 0, 0.2);
    }
    tr th,
    tr td {
      border: 1px solid #000;
      display: block;
      margin: 0;
      padding: 6px;
      color: #000;
    }
    tr td:hover {
      background: rgba(0, 0, 0, 0.5);
    }
    tr th {
      background: #74b9ff;
      font-weight: bold;
    }
